.thanks__page {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thanks__bg {
    position: absolute;
    font-size: 230px;
    font-weight: bold;
    color: #f5f5f5;
    z-index: 0;
    user-select: none;
}

.thanks__page--center {
    position: relative;
    z-index: 1;
    text-align: center;
}

.thanks__page--center h2 {
    color: #8B7969;
    font-size: 50px;
}

.thanks__home--button {
    margin-top: 50px;
}

.home__button--redirect {
    color: white;
    background: #7F776C;
    border: none;
    padding: 15px 35px;
    text-decoration: none;
}